<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dicionário — Projeto Libelle</title>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/dicionario.css}">
    <link rel="stylesheet" th:href="@{/css/templates.css}">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
</head>
<body>
    
    <!--/* Navbar */-->
    <div th:replace="fragments/navbar :: navbar"></div>

    <label for="idioma">Escolha o idioma:</label>
    <select id="idioma">
        <option value="pt">Português</option>
        <option value="de">Alemão</option>
    </select>

    <main class="search-hero anim-wrapper">
        <h1 class="search-title">Dicionário <span class="glow-dourado">Hunsriqueano</span></h1>
        <form th:action="@{/resultado}" method="get" class="search-container">
            <input type="text" name="q" class="search-input" placeholder="Ex: Bier, Dorst, Aadler, Fisch...">
            <button type="submit" class="btn-search-lupa"><span class="lupa-icon"></span></button>
        </form>
        <div id="sugestoes"></div>
    </main>
    <!--/* loginModal*/-->
    <div th:replace="fragments/login :: loginModal"></div>

    <!--/* Footer */-->
    <div th:replace="fragments/footer :: footer"></div>

    <!--/* scripts js */-->
    <script th:src="@{/js/toggleSenha.js}"></script>
    <script src="js/ajax.js"></script>
</body>
</html>